$heading: #fff;

$light: #5a6574;
$dark: #333;

//darkmode-colors
$dark: #333; //for the body

$dark-blue: #4f5b9c;
$light-blue: #59abe3;

$dark-highlight: #122072;
$dark-bg: #2e324b;
$dark-text: #fff;

//create
$form_placeholder: #ccc;
$button_font: $dark-text;
