.card-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $dark-blue;
  grid-gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.card-form__title {
  display: flex;
  flex-direction: column;
}

.card-form__title__input {
  border: 1px solid $dark-blue;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 5px;
}

.card-form__text {
  display: flex;
  flex-direction: column;
}

.card-form__title__input::placeholder,
.card-form__textarea::placeholder {
  color: $form_placeholder;
}

.card-form__textarea {
  height: 170px;
  font-size: 1em;
  border: 1px solid $dark-blue;
  padding: 5px;
}

.card-form__button {
  margin-top: 30px;
  outline: none;
  background: $light-blue;
  font-size: 1em;
  padding: 10px;
  color: $button_font;
}
