.card-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $dark-blue;
  grid-gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.card-form__title {
  display: flex;
  flex-direction: column;
}

.card-form__input-title {
  border: 1px solid $dark-blue;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 5px;
}

.card-form__text {
  display: flex;
  flex-direction: column;
}

.card-form__input-title::placeholder,
.card-form__input-text::placeholder {
  color: $form_placeholder;
}

.card-form__input-text {
  height: 170px;
  font-size: 1em;
  border: 1px solid $dark-blue;
  padding: 5px;
}

.card-form__checkbox {
  margin: 20px 0;
}

.card-form__input-submit {
  outline: none;
  background: $light-blue;
  font-size: 1em;
  padding: 10px;
  color: $button_font;
}
